.App {
  text-align: center;
}

.App-title {
  display: inline-block;
}

.Log-out {
  display: inline-block;
  float: right;
  font-size: 12px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
